@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
  behavior: url(css/pie.htc);  
  position: relative;  
  zoom: 1;  
}

@mixin font-scale($s) {
  font-size: $s;

  h1,
  h2,
  h3 {
      margin-bottom: $s;
  }

  h1 { font-size: $s * 1.6; }
  h2 { font-size: $s * 1.5; }
  h3 { font-size: $s * 1.4; }
  h4 { font-size: $s * 1.3; }
  h5 { font-size: $s * 1.2; }
  h6 { font-size: $s * 1.1; }
}

@mixin texture($gradient-angle, $bg-color-1, $bg-color-2, $texture-number) { 
  // gradient angle, gradient color 1, gradient color 2, texture-number
  $texture-list:
    "white-wall.png"
    "diagonal-noise.png"
    "brilliant.png";

  @include background(url("/images/textures/#{nth($texture-list, $texture-number)}"), 
    linear-gradient($gradient-angle, $bg-color-1, $bg-color-2), 
    center no-repeat $bg-color-1 scroll);
}