<nav class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="/">Foreword</a></li>
        <li class="nav-link more"><a href="/manifesto">Manifesto</a>
          <ul class="submenu">
            <li><a href="/manifesto/#tax">Tax</a></li>
            <li><a href="/manifesto/#immigration">Immigration</a></li>
            <li><a href="/manifesto/#public-sector">Public sector</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="/nomination-team">Nomination team</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="/questions">Your questions</a></li>
            <li><a href="/why-guy">Why guy?</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
