$s: 1rem;

html {

    body {
        @include media(max-width 400px 1) {
            @include font-scale(1.1rem);
        }

        @include media(min-width 401px max-width 600px 12) {
            @include font-scale(1.2rem);
        }

        @include media(min-width 601px) {
            @include font-scale(1.3rem);
        }

        .title {
            font-size: 5rem;
            font-family: $guydefaye;
            font-weight: 400;
            margin: .7rem 0;
            color: $dark-gray;
        }

        header {
            text-align: center;
            margin: 2rem auto;

            img {
                text-align: center;
                @include border-radius(50%);
                width: 35%;
            }

            nav {

            }
        }

        .content {
            border: 5px solid #efefef;
            @include border-radius(5px);
            padding: 2.5rem 2rem;
            .foreword {
                ul li {
                    margin-bottom: .5rem;
                    border-bottom: 2px dashed #ececec;
                }
                ul {
                    margin-bottom: 1.5rem;
                }
            }
        }

        #back-to-menu {
            display: none;
            position: fixed;
            bottom: 2rem;
            right: 2rem;
            a {
                color: lighten($blue, 10);
                font-size: 1.2rem;
                width: 3rem;
                height: 3rem;
                @include border-radius(50%);
                background-color: rgba(0, 0, 0, 0.1);
                padding: 1.5rem;
            }
        }

        footer {
            text-align: center;
            margin: 2rem 0;
        }

    }
}
.centered {
    text-align: center;
}
.written {
    font-family: $guydefaye;
    font-weight: 400;
}

.your-questions {
    #table-of-contents {
        color: white;
        @include texture(180deg, lighten(#497FCA, 10), darken(#497FCA, 5), 2);
        @include border-radius(5px);
        border: 5px solid #497FCA;
        padding: 1rem;
        .topic {
            @include font-scale(1.5rem);
            margin: 0 0 .5rem 0;
        }
        .q {
            @include font-scale(1.1rem);
            margin: 0 0 .5rem 1rem;
        }
        a {
            color: white;
            &:hover {
                color: darken(white, 5%);
            }
        }
    }

    article {
        margin-top: 2rem;
        .topic {
            h3 {
                border-bottom: 2px solid #ececec;
            }
        }

        .q {

        }

        .a {
            margin: .5rem 0 1rem 1rem;
        }
    }
}