html {
 
    body {
        @include outer-container;

        header {
            @include media(max-width 400px 1) {
                img {
                    display: none;
                }
                h1 .title {
                    margin: .1rem auto .5rem;
                }
            }
            @include media(min-width 401px 12) {
                
            }
        }

        .content {
            @include media(max-width 400px 1) {
                padding: 1rem .3rem;
            }
            @include media(min-width 401px 12) {
            }
            
        }

        footer {
            @include media(max-width 400px 1) {

            }
            @include media(min-width 401px 12) {
                
            }
        }

        #table-of-contents {
            @include media(max-width 400px 1) {
                margin: 1rem 0rem;
            }
            @include media(min-width 401px 12) {
                
            }
        }

    }
}